<mat-toolbar color="primary">
  🎓 Study
</mat-toolbar>

<div class="container" style="padding: 16px;" *ngIf="set">
  <h3>{{ set.title }}</h3>

  <mat-card (click)="toggleCardSide()" class="flashcard">
    <mat-card-content>
      <div class="card-inner">
        <ng-container *ngIf="currentCard; else completed">
          <p *ngIf="isFront"><strong></strong> {{ currentCard.front }}</p>
          <p *ngIf="!isFront"><strong></strong> {{ currentCard.back }}</p>
        </ng-container>

        <ng-template #completed>
          <p>All cards completed!</p>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>


  <div style="margin-top: 16px;">
    <button mat-button (click)="prevCard()" [disabled]="currentIndex <= 0">← Prev</button>
    <button mat-button (click)="nextCard()" [disabled]="currentIndex >= (set.cards.length || 0) - 1">Next →</button>
  </div>
</div>